nav{
    background-color: $colorPrimario;
    ul{
        list-style: none;
        li{
            padding: 10px;
            a{
                text-decoration: none;
                color: $colorBlanco ;
                opacity: .80;
                &:hover{
                    color: $colorBlanco;
                    opacity: 1;
                }
            }
        }
    }
}
