nav {
  background-color: #eb7e31; }
  nav ul {
    list-style: none; }
    nav ul li {
      padding: 10px; }
      nav ul li a {
        text-decoration: none;
        color: #fff;
        opacity: .80; }
        nav ul li a:hover {
          color: #fff;
          opacity: 1; }

.post {
  background-color: #eb7e31;
  border-radius: 5px;
  padding: 15px;
  color: white; }
  .post h5 {
    font-size: 32px; }
  .post p {
    font-size: 20px; }
  .post .boton {
    border: 0;
    border-radius: 5px;
    padding: 8px 15px;
    color: #fff;
    background-color: #0A64F2; }
    .post .boton:hover {
      background-color: #2878fa; }

footer {
  background-color: #eb7e31;
  color: #fff; }
